# Series
- 데이터가 순차적으로 나열된 1차원 배열의 형태

In [3]:
# Dictionary -> Series
dict_data = {'a':1, 'b':2, 'c':3}
dict_data

{'a': 1, 'b': 2, 'c': 3}

In [4]:
# Series로 변환
import pandas as pd

sr = pd.Series(dict_data)
sr
# key값을 index라 생각하고 value가 하나의 컬럼으로 1차원 배열

a    1
b    2
c    3
dtype: int64

In [5]:
sr['a']

1

In [6]:
# list -> series
list_data = ['20021-12-31',3.14, 'abc',100, True]
list_data

['20021-12-31', 3.14, 'abc', 100, True]

In [8]:
sr = pd.Series(list_data)
sr
# list는 따로 key값이 없어 index가 번호로 들어가고 value값만 나옴

0    20021-12-31
1           3.14
2            abc
3            100
4           True
dtype: object

In [9]:
# index와 value를 따로 저장 
index = sr.index 
print(index)
# 0부터 5까지 1씩 증가

RangeIndex(start=0, stop=5, step=1)

In [10]:
print(list(index))

[0, 1, 2, 3, 4]

In [13]:
# value 
value = sr.values 
print(list(value))
# list 형태로 추출

['20021-12-31', 3.14, 'abc', 100, True]

In [14]:
print(value)

['20021-12-31' 3.14 'abc' 100 True]

In [15]:
# Tuple -> Series
tuple_data = ("유비","2022-12-31","남자",False)
tuple_data

('유비', '2022-12-31', '남자', False)

In [19]:
sr = pd.Series(tuple_data,index = ["이름","생년월일","성별","학생여부 "])
sr

이름               유비
생년월일     2022-12-31
성별               남자
학생여부          False
dtype: object

In [21]:
# Series에서 Data 선택하기 
print(sr['이름'])
print(sr[0])  # index의 value값

유비
유비

In [23]:
# 두개의 index 선택
print(sr[['생년월일','성별']])

생년월일    2022-12-31
성별              남자
dtype: object

In [25]:
print(sr[[1,2]])
# [,]이면 행과열을 뜻하므로 []로 감싸야함

생년월일    2022-12-31
성별              남자
dtype: object

In [28]:
# 범위 
print(sr[1:3])  # 1~2

생년월일    2022-12-31
성별              남자
dtype: object

In [29]:
# 범위 
# ,가 없으므로 []필요없음 
print(sr[0:4])  # 0~3

이름               유비
생년월일     2022-12-31
성별               남자
학생여부          False
dtype: object

In [30]:
print(sr['이름':'성별'])

이름              유비
생년월일    2022-12-31
성별              남자
dtype: object

In [31]:
### Series의 연산
student = pd.Series({'국어':100,
                '영어':80,
                '수학':90})

student

국어    100
영어     80
수학     90
dtype: int64

In [32]:
# 과목의 점수를 200 나누기 
student /200

국어    0.50
영어    0.40
수학    0.45
dtype: float64

In [48]:
student = pd.Series({'국어':100,'영어':80,'수학':90})
student1 = pd.Series({ '수학':80,'국어':90,'영어':70})

In [49]:
# 덧셈
addition = student + student1
addition
# {} 딕셔너리라 key가 정렬되지 않아도 key를 기준으로 같은 key끼리 연산가능

국어    190
수학    170
영어    150
dtype: int64

In [50]:
# 뺄셈
substraction = student - student1
# 곱셈
multiplication = student * student1
# 나눗셈
division = student / student1

In [51]:
gaeson = [addition,substraction,multiplication,division]
gaeson

[국어    190
 수학    170
 영어    150
 dtype: int64,
 국어    10
 수학    10
 영어    10
 dtype: int64,
 국어    9000
 수학    7200
 영어    5600
 dtype: int64,
 국어    1.111111
 수학    1.125000
 영어    1.142857
 dtype: float64]

In [52]:
# 사칙연산 결과를 데이터 프레임으로 만들기 
gaesongi = pd.DataFrame(gaeson,index = ['덧셈','뺄셈','곱셈','나눗셈'])

In [53]:
gaesongi

              국어        수학           영어
덧셈    190.000000   170.000   150.000000
뺄셈     10.000000    10.000    10.000000
곱셈   9000.000000  7200.000  5600.000000
나눗셈     1.111111     1.125     1.142857

# Nan 값이 있는 연산

In [ ]:
# nan = null 
# null이 있으면 기본적으로 계산을 못함

In [56]:
import numpy as np
student1 = pd.Series({'국어' : np.nan, '영어' : 80, '수학' : 90})
student2 = pd.Series({'국어' : 90, '수학' : 80})

In [58]:
# 덧셈 
addition = student1 + student2
addition

국어      NaN
수학    170.0
영어      NaN
dtype: float64

In [60]:
addition = student1.add(student2)
addition

국어      NaN
수학    170.0
영어      NaN
dtype: float64

In [62]:
# 뺄셈
subtraction = student1 - student2
subtraction

국어     NaN
수학    10.0
영어     NaN
dtype: float64

In [72]:
subtraction = student1.sub(student2)
subtraction

국어     NaN
수학    10.0
영어     NaN
dtype: float64

In [66]:
# 곱셈
multiplication = student1 * student2
multiplication

국어       NaN
수학    7200.0
영어       NaN
dtype: float64

In [68]:
multiplication = student1.mul(student2)
multiplication

국어       NaN
수학    7200.0
영어       NaN
dtype: float64

In [69]:
# 나눗셈
division = student1 / student2
division

국어      NaN
수학    1.125
영어      NaN
dtype: float64

In [71]:
division = student1.div(student2)
division

국어      NaN
수학    1.125
영어      NaN
dtype: float64

In [75]:
# 사칙연산 결과를 데이터프레임으로 만들기
result = pd.DataFrame([addition,subtraction,multiplication,division],
                        index=['덧셈','뺄셈','곱셈','나눗셈'])
result

     국어        수학  영어
덧셈  NaN   170.000 NaN
뺄셈  NaN    10.000 NaN
곱셈  NaN  7200.000 NaN
나눗셈 NaN     1.125 NaN

In [76]:
# nan => 0
addition = student1.add(student2, fill_value=0)
subtraction = student1.sub(student2, fill_value=0)
multiplication = student1.mul(student2, fill_value=0)
division = student1.div(student2, fill_value=0)

In [78]:
# 사칙연산 결과를 데이터프레임으로 만들기
result = pd.DataFrame([addition,subtraction,multiplication,division],
                        index=['덧셈','뺄셈','곱셈','나눗셈'])
result
# 나눗셈 0 / 0이라 infinite(무한대 ) 발생

       국어        수학    영어
덧셈   90.0   170.000  80.0
뺄셈  -90.0    10.000  80.0
곱셈    0.0  7200.000   0.0
나눗셈   0.0     1.125   inf