In [22]:
var01 = 3
var02 = 4

In [23]:
print("덧셈 : ",var01 + var02)
print("뺄셈 : ",var01 - var02)
print("곱셈 : ",var01 * var02)
print("실수나눗셈 :",var01 /var02)
print("정수 나눗셈 몫 :",var01 // var02)
print("정수 나눗셈 나머지 :",var01 % var02)
print("제곱 : ", var01**2)

덧셈 :  7
뺄셈 :  -1
곱셈 :  12
실수나눗셈 : 0.75
정수 나눗셈 몫 : 0
정수 나눗셈 나머지 : 3
제곱 :  9

In [24]:
print('거듭제곱',var01 ** 2)
print('거듭제곱', pow(var01,3))

거듭제곱 9
거듭제곱 27

### 파이썬 모듈을 이용한 수학계산

In [25]:
import math

In [26]:
# 거듭제곱
math.pow(var01, 2)

9.0

In [27]:
# 제곱급
math.sqrt(var01)

1.7320508075688772

In [28]:
# sin 45
math.sin(45)

0.8509035245341184

In [29]:
# sin45^2 + cos45^2
math.pow(math.sin(45),2) + math.pow(math.cos(45),2)

1.0

# 난수 발생

In [30]:
# 난수발생 모듈 불러오기 
import random

In [31]:
# 1부터 100사이의 난수 1개 가져오기 
# 실행할 때 마다 새로운 수 발생
random.randint(1,100)

43

In [32]:
range(1,10)
# 1부터 10 전까지 
# list로 출력
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
# 로또 
# 로또 번호 45까지
lotto_list = range(1,46)
random.sample(lotto_list,6)

[8, 37, 10, 3, 36, 34]

In [34]:
# 반올링
# 첫번째 자리로 
print(round(123.455, 1))
print(round(123.455, 2))

123.5
123.45

In [49]:
# 욜림
print(math.ceil(1.1))
print(math.ceil(1.9))

2
2

In [36]:
# 내림
print(math.floor(1.1))

1

In [37]:
# 메모리에 있는 변수보기 
dir()

['In',
 'Out',
 '_',
 '_12',
 '_13',
 '_21',
 '_26',
 '_27',
 '_28',
 '_29',
 '_3',
 '_31',
 '_32',
 '_33',
 '_4',
 '_5',
 '_6',
 '_7',
 '_8',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '__vsc_ipynb_file__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'exit',
 'get_ipython',
 'lotto_list',
 'math',
 'os',
 'quit',
 'random',
 'sys',
 'var01',
 'var02']

In [38]:
var01

3

In [39]:
# 메모리에 있는 변수 제거 
del var01

In [41]:
# 지워서 못찾음 
var01

NameError: name 'var01' is not defined

# 관계 연산자

In [42]:
num1 = 100
num2 = 20

In [44]:
print(num1 == num2)
print(num1 != num2)
print(num1 > num2)
print(num1 < num2)
print(num1 >= num2)
print(num1 <= num2)

False
True
True
False
True
False

# 논리 연산자

In [47]:
print((num1 >= 50) & (num2 <= 10))
print((num1 >= 50) | (num2 <= 10))
print((num1 >= 50) and(num2 <= 10))
print((num1 >= 50) or (num2 <= 10))

False
True
False
True

In [51]:
# 부정 연산자 
num1 >= 50

True

In [52]:
not(num1 >= 50)

False

In [54]:
# OS 명령어 사용 
# 파일 list 보기 
!ls

01.Preview.ipynb
02. 변수와 자료형.ipynb

In [56]:
# 문자열
var01 = 'Hello World!'
var01

'Hello World!'

In [58]:
var01 = """
    Hello World
    12345
    대한민국
"""
var01

'\n    Hello World\n    12345\n    대한민국\n'

In [59]:
print(var01)

    Hello World
    12345
    대한민국

In [62]:
# 쌍따옴표와 홑따옴표 사용 
var01 = "My father's wife is my mother."
var02 = 'He says "I love you"'
print(var01)
print(var02)

My father's wife is my mother.
He says "I love you"

In [65]:
# 문자열 연산 ( 덧셈 )
# 문자열과 숫자의 연산은 불가 
var01 ="Python"
var02 = "is fun"
print(var01 + var02)
print(var01,var02)

Pythonis fun
Python is fun

In [66]:
# 문자열 연산(곲셈)
print(var01*3)

PythonPythonPython

In [67]:
print("="*20)
print("Pytyron")
print("="*20)

====================
Pytyron
====================

In [74]:
# 문자열 indexing(배열) , Slicing(범위)
# indexing 0번부터 시작 
str = "abcdefghijklmn"

print(str[0])
# 0부터 3개 ,1,2,3 슬라이싱 
print(str[0:3])
print(str[-1])
print(str[-2])
print(str[-3])
# 5번부터 
print(str[5:])
# 5번 전까지
print(str[:5])
print(str[0],str[1],str[2])
# 5번부터 -2 전까지 
print(str[5:-2])

a
abc
n
m
l
fghijklmn
abcde
a b c
fghijkl

In [95]:
# 2022 1229 Snow
str = "20221229Snow"
year = str[0:4]
day = str[4:-4]
weather = str[-4:]
print(year,day,weather)

2022 1229 Snow

In [103]:
str = "abbde"
c = str[2:5]
ab = str[0:2]
print(ab)

ab

In [106]:
# 슬라이싱 
print(ab+c)
# list가 아니고 string
type(ab+c)

abbde

str

# 문자열 formatting

In [111]:
# 숫자
print("I have %d apples."%2)
# 문자 
print("I have %s apples."%"two")

I have 2 apples.
I have two apples.

In [110]:
number = 2
fruit = "apples"
print("I have %d %s."%(number,fruit))

I have 2 apples.

In [115]:
# 문자열 정렬
print("I have 2%10s."%"apples")
print("I have 2%-10s."%"apples")

I have 2    apples.
I have 2apples    .

In [170]:
# 실수
print("%0.4f"%3.14159)
print("%10.2f"%3.14159)

3.1416
      3.14

# 문자열 관련 함수

In [149]:
# 문자 count
str = "I have a dream."

print(str.count("I"))
print(str.count("h"))
print(str.count("a"))
print(str.count("e"))
# 공백까지 하나의 글자로 취급
print(len(str))

1
1
3
2
15

In [152]:
# 문자 위치 알려주기 
# 공백도 포함 
# a가 나오는 첫번째 위치 
print(str.find('i'))
# 대문자와 소문자는 다른 문자로 인식 
print(str.find('I'))
print(str.find('h'))
print(str.find('a'))
print(str.find('e'))
print(str.find('x'))
# 만약에 대소문자 구분 없이 사용하려면 대문자나 소문자로 바꾸어 ,find

-1
0
2
3
5
-1

In [127]:
str[str.find('e')]

'e'

In [154]:
# 문자열 삽입
str = ","
str.join('abcde')

'a,b,c,d,e'

In [155]:
# 소문자를 대문자로 
str = "hi"
str.upper()

'HI'

In [156]:
# 대문자를 소문자로 
str = "HI"
str.lower()

'hi'

In [157]:
# 공백지우기 
str = "       hi"
str.lstrip()

'hi'

In [158]:
str = "hi      "
str.rstrip()

'hi'

In [159]:
str = "   hi   "
str.strip()

'hi'

In [160]:
# 문자열 바꾸기
str = "Life is too short to be happy"
str.replace('happy','unhappy')

'Life is too short to be unhappy'

In [161]:
print(str.find('h'))

13

In [162]:
str.upper()

'LIFE IS TOO SHORT TO BE HAPPY'

In [163]:
# 문자열 나누기
str01 = "Life is too short to be happy"
list01 = str01.split() # 공백을 기준으로 나눔 
type(list01)
list01

['Life', 'is', 'too', 'short', 'to', 'be', 'happy']

In [164]:
# index는 0번부터 
len(list01)

7

In [165]:
str02 = 'a:b:c:d'
str02.split(':') # : 기준으로 나눔

['a', 'b', 'c', 'd']

# 고급 문자열 Formatting

In [171]:
# 숫자 바로 대입
"I have {0} apples.".format(3)

'I have 3 apples.'

In [173]:
"I have {0} apples".format("three")

'I have three apples'

In [176]:
number = 10
day ='three'
"I have {0} apples, I will go abroad for {1} days".format(number,day)

'I have 10 apples, I will go abroad for three days'

In [178]:
# 왼쪽 정렬
'{0:<10}'.format("hi")

'hi        '

In [179]:
# 오른쪽 정렬
'{0:>10}'.format("hi")

'        hi'

In [180]:
# 가운데 정렬
'{0:^10}'.format("hi")

'    hi    '

In [184]:
# 공백 채우기 
'{0:=^10}'.format("hi")

'====hi===='

In [183]:
'{0:=^20}'.format("hi")

'=========hi========='

In [185]:
# f 문자열 formatting(Python 3.6 이상 )
name = "이지예"
age = 25
f'나의 이름은 {name}이고 나이는 {age}세 입니다.'

'나의 이름은 이지예이고 나이는 25세 입니다.'

In [189]:
f'나는 내년이면 {age + 1} 살입니다.내 동생은 나와 4살 차이가 나서 {age -4}살입니다.'

'나는 내년이면 26 살입니다.내 동생은 나와 4살 차이가 나서 21살입니다.'

# 날짜형 변환

In [190]:
# 날짜형 모듈 가져오기
from datetime import datetime, timedelta

In [191]:
time1 = datetime(2022,12,25,21,0,0,0)
time1

datetime.datetime(2022, 12, 25, 21, 0)

In [192]:
print(time1)

2022-12-25 21:00:00

In [195]:
# 날째 계산하기 
time2 = datetime.now()
print(time2)
print(time1 - time2)

2022-06-22 16:13:55.057426
186 days, 4:46:04.942574

In [200]:
# 좀 더 편리하게 출력 
print((time1 - time2).days, '일')
#초끼리의 계산 
print((time1 - time2).seconds, '초')

186 일
17164 초

In [203]:
# 시간으로 확인하기 
(time1 - time2).days * 24 + math.floor((time1 - time2).seconds / 60 / 60 )

4468

In [207]:
# 특정 날짜로부터 시간 계산
time2 + timedelta(days=5)

datetime.datetime(2022, 6, 27, 16, 13, 55, 57426)

In [210]:
print(time2 + timedelta(days=1, hours= -2))

2022-06-23 14:13:55.057426