# 리스트 자료형
리스트명 = [요소1,요소2,...]

In [147]:
# 리스트 자료형 선언
var01 = []
var02 = [1,2,3]
var03 = ["I", "have","a","dream"]
var04 = [1,2,"Dream","True"]
var05 = [1,2,["Dream","True"]]

In [148]:
print(var01)
print(var02)
print(var03)
print(var04)
print(var05)

[]
[1, 2, 3]
['I', 'have', 'a', 'dream']
[1, 2, 'Dream', 'True']
[1, 2, ['Dream', 'True']]

In [149]:
# var05에서 "Dream" 만 출력하기 
var05[-1][0]

'Dream'

In [150]:
var = [1,2,['a','b',['Dream',"True"]]]

In [151]:
var[-1][-1][0]

'Dream'

# 리스트의 연산

In [152]:
var01 = [1,2,3]
var02 = [4,5,6]
var01 + var02

[1, 2, 3, 4, 5, 6]

In [153]:
# 리스트의 덧셈 : for문으로 구성하기 
tempList = []
for i in range(len(var01)):
    print(var01[i] + var02[i])
    tempList.append(var01[i] + var02[i])

5
7
9

In [154]:
range(len(var01))

range(0, 3)

In [155]:
tempList

[5, 7, 9]

In [156]:
var = [1,2,3]
var[2] = 4
var

[1, 2, 4]

In [157]:
print(var[1])
# 1에서 1번지까지의 list
print(var[1:2])

2
[2]

In [158]:
var2 = ["a","b","c"]
# var의 1번지부터 2번지 전까지 
var[1:2] = var2
var

[1, 'a', 'b', 'c', 4]

In [159]:
# 1번지부터 3번지 앞(2번지)까지 
var[1:3] = var2
var
# a, b 자리에 a b c 넣기

[1, 'a', 'b', 'c', 'c', 4]

In [160]:
var[1:3] = []
var

[1, 'c', 'c', 4]

In [136]:
del var[1]
var

[1, 'c', 4]

# 리스트 관련 함수

In [137]:
var = [1,2,3]
var.append(4)
var

[1, 2, 3, 4]

In [138]:
var.append([5,6])
var

[1, 2, 3, 4, [5, 6]]

In [139]:
# 리스트 정수 정렬
var = [1,4,3,2]
# 오름차순
var.sort()
print(var)

# 내림차순
var.reverse()
print(var)

[1, 2, 3, 4]
[4, 3, 2, 1]

In [140]:
# 리스트의 위치정보
var = [4,5,6]
# 5가 위치한 인덱스 자리 알려줌 
var.index(5)

1

In [141]:
# 리스트에 요소 삽입
var = [1,2,3]
var.insert(0,4)
var

[4, 1, 2, 3]

In [142]:
var.sort()
var

[1, 2, 3, 4]

In [143]:
# 리스트에 요소 제거 
# 데이터의 위치가 아닌 데이터값을 그대로 넣기
var.remove(4)
var

[1, 2, 3]

In [144]:
#list의 마지막을 지룸 
var.pop()
var

[1, 2]

In [145]:
var.pop(1)
var

[1]

In [146]:
var = [1,2]
var.extend([3,4])
var

[1, 2, 3, 4]

In [121]:
# 끝에서 2번째 문자 삭제
var = [1,2,3,4]
var.pop(2)
var

[1, 2, 4]