# 자료형이 참과 거짓 
- 문자열의 경우 "" 안에 data 가 없으면 거짓, data 가 있으면 참 
- 리스트인 경우 []...
- 튜플인 경우 ()...
- 딕셔너리인 경우 {}...
- 숫자인 경우 0 이면 거짓, 0이 아닌 숫자는 참. (예시:1)

In [1]:
# 리스트형에서 자료출력하면서 자료 지우기 
# []
var = [1,2,3,4] # var는 true
while var:       #true 동안 
    print(var.pop())  # 뒤에서부터 1개씩 사라짐 , 사라지는 데이터를 출력

4
3
2
1

In [4]:
# 숫자의 참과 거짓
var01 = 3
var02 = 1

print(var01 == var02)
print(var01 is var02)

False
False

In [9]:
# 튜플을 이용한 변수 
# ()
var01, var02 =1, 2
# var01 = 1, var02 = 2 가 순서대로 넣어감 
(var01, var02) = (1, "Lee")
# 문자와 숫자와 동시에 대입 가능, 같은 type이 아니여도 된다 
type(var01)

int

In [8]:
type(var02)

str

In [11]:
# 변수 갓 교환
var01, var02 = 3, 5
var01, var02 = var02, var01
print(var01)

5

In [12]:
print(var02)

3

In [13]:
# 리스트의 복사
var01 = [1,2,3]
var02 = var01
var01[1] = 4
var02[2] = 6 
print(var01)
print(var02)

[1, 4, 6]
[1, 4, 6]

In [14]:
var01 is var02
# 리스트의 복사가 이루어져 같아짐
# call by reference 
# 하나의 쌍둥이 데이터를 만들어놓은 것

True

In [15]:
# Slicing을 이용한 리스트의 뽁사 
var01 =[1,2,3]
var02 =var01[:] # var01의 데이터만 가져옴
var01[1] = 4
print(var01)
print(var02)

[1, 4, 3]
[1, 2, 3]

In [16]:
# Module을 이용한 리스트의 복사 
from copy import copy

var01 = [1,2,3]
var02 = copy(var01)
var01[1] = 4
print(var01)
print(var02)

[1, 4, 3]
[1, 2, 3]

In [18]:
# 리스트의 데이터의 유무를 판단하여 true, false 값 return 하기

var = [1,2,3,4]
# var라는 리스트에 4라는 데이터가 있는지 알려준다.
print(4 in var) 
print(5 in var)

True
False

In [20]:
var2 = ["a","b","c"]
print("a" in var2)
print("e" in var2)

True
False