In [1]:
#1 ~ 10 
range(1,11)

range(1, 11)

In [1]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [3]:
list(range(10,0,-2))

[10, 8, 6, 4, 2]

In [4]:
# error는 안 나오므로 직접 확인해야함 
list(range(0,10,-2))

[]

In [5]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [21]:
# 1에서 10까지의 제곱근을 출력하기 
import math
num =  0
for i in range(1,11):
    print("%2d :%0.8f"%(i,math.sqrt(i)))

 1 :1.00000000
 2 :1.41421356
 3 :1.73205081
 4 :2.00000000
 5 :2.23606798
 6 :2.44948974
 7 :2.64575131
 8 :2.82842712
 9 :3.00000000
10 :3.16227766

In [4]:
for i in range(2, 10):
    for j in range(1, 10):
        print("%2d"%(i*j), end=' ')     # %2d두자리 넣기 
    print()

 2  4  6  8 10 12 14 16 18
 3  6  9 12 15 18 21 24 27
 4  8 12 16 20 24 28 32 36
 5 10 15 20 25 30 35 40 45
 6 12 18 24 30 36 42 48 54
 7 14 21 28 35 42 49 56 63
 8 16 24 32 40 48 56 64 72
 9 18 27 36 45 54 63 72 81

In [3]:
# for문에 tuple 사용하기
var = [(1,2),(3,4),(5,6),(7,8),]

for first, last in var:
    print(first,':', last)

1 : 2
3 : 4
5 : 6
7 : 8

총 5명의 학생이 시험을 보았는데, 시험점수가 60점을 넘으면 합격,
그렇지 않으면 불합격
합격,불합격 보여주기

In [13]:
scores = [90,25,67,45,80]

result = 0 
for number in range(len(scores)):
    result =  "합격" if scores[number] > 60  else "불합격"
    print(result)

합격
불합격
합격
불합격
합격

In [38]:
scores = [90,25,67,45,80]
number = 0
for score in scores: 
    result = "합격" if score > 60  else "불합격"
    number +=1
    print(number,"의 학생은",score,"이여서",result)

1 의 학생은 90 이여서 합격
2 의 학생은 25 이여서 불합격
3 의 학생은 67 이여서 합격
4 의 학생은 45 이여서 불합격
5 의 학생은 80 이여서 합격

 학생들의 점수의 평균을 구하여 평균점수보다 낮으면 불합격
평균점수보다 같거나 높으면 합격을 위의 출력과 같이 보여주기

In [41]:
import numpy as np

In [65]:
scores = [90,25,67,45,80]
number = 0

print("학급의 평균 점수는 ",np.mean(scores),"입니다")
for score in scores:
    number +=1
    result = "합격" if score > 60 else "불합격"
    print(number,"의 학생은 ",score,"점이여서",result,"입니다")

학급의 평균 점수는  61.4 입니다
1 의 학생은  90 점이여서 합격 입니다
2 의 학생은  25 점이여서 불합격 입니다
3 의 학생은  67 점이여서 합격 입니다
4 의 학생은  45 점이여서 불합격 입니다
5 의 학생은  80 점이여서 합격 입니다

In [64]:
scores = [90,25,67,45,80]
number = 0

for score in scores:
        # 참 if 조건 else 거짓 
    result = "합격" if score > 60 else "불합격"
    number +=1
    # if문을 만족하지 않으면 반복 
    if score < 60:
            continue
    print(number,"의 학생은",result)

1 의 학생은 합격
3 의 학생은 합격
5 의 학생은 합격

총 5명의 학생이 시험을 보아쓴데 60점을 넘으면 합격, 그렇지 않으면 불합격
합격한 학생들의 번호만 새로운 list를 생성하여 출력

In [123]:
scores = [90,25,67,45,80]
number = 0
newlist = []
print("{0:^10}".format('합격자 번호'))
print('-'*10)
for score in scores:
    number += 1
    if score < 60 :
        continue
    newlist.append(number)
    print(newlist)
    print("{0:^10}".format(newlist[len(newlist)-1]))

  합격자 번호
----------
[1]
    1
[1, 3]
    3
[1, 3, 5]
    5

--------

# 문장과 단어 추출

In [83]:
string = """나는 이지예 입니다.
주소는 서울시 입니다 
나이는 25세 입니다."""

In [82]:
string

'나는 이지예입니다.\n주소는 서울시 입니다 \n나이는 25세 입니다.'

In [86]:
# 문단 -> 문장
sents = [] # 문장저장
words = [] # 단어저장
for sen in string.split('\n'):
    sents.append(sen)
    # 문장 -> 단어
    for word in sen.split():
        words.append(word)
print(sents)
print(words)

['나는 이지예 입니다.', '주소는 서울시 입니다 ', '나이는 25세 입니다.']
['나는', '이지예', '입니다.', '주소는', '서울시', '입니다', '나이는', '25세', '입니다.']

In [88]:
var01 = [1,2,3,4]
var02 =[]
# var02에 var01의 인덱스 번호에 각각 5를 곱하여 출력하기 

for i in var01:
    var02.append(i*5)

var02

[5, 10, 15, 20]

# 파이썬의 list for문

In [89]:
var01 = [1,2,3,4]
var02 = [i * 5 for i in var01]
var02

[5, 10, 15, 20]

In [95]:
# var01의 데이터가 짝수인 경우에만 5를 곱하여 var02 list 만들기 
var01 = [1,2,3,4]
var02 = [i * 5 for i in var01 if i % 2 == 0 ]
var02

[10, 20]

In [106]:
# 구구단 결과만 리스트로 만들기
var01 = [2,3,4,5,6,7,8,9]

var02 = [i * j for i in var01 for  j in range(1,10)]
print(var02)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [119]:
# 60점 이상의 학생 점수만 list로 만들어서 평균 출력하기 (listed for문 사용)
import numpy as np
score = [90,25,67,45,80]
passNum = [ i for i in scores if i > 60]
print("합격한 학생들의 평균 점수는 %0.2f"%np.mean(passNum),"입니다")

합격한 학생들의 평균 점수는 79.00 입니다